body {
    font-family: 'Ubuntu', sans-serif;


}

.life {
    background-color: #c4c4c4;
    position: fixed;
    width: 250px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    text-align: center;

}


.life a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
}

.life a:hover {
    color: #f1f1f1;

}

.victim {
     /* background-image: url(/assets/_It\ takes\ courage\ to\ hope_\ Dare\ to\ hope\ that\ life\ can\ be\ beautiful\ and\ that\ it\ is\ beautiful\ every\ day._\ -\ from\ _Hope_\ in\ the\ Gardens\ of\ the\ Heart\ series\ by\ Summit\ University\ Press); */
    margin-left: 250px;
    padding: 5px;
    min-height: 500px;
    width:auto;
    position: relative;
    overflow-x: hidden;
    text-align: center;
    margin-top: 20px;


}



.life>.user {
    text-align: left;
    padding: 10px;

}

.life img {
    max-width: 200px;
    max-height: 200px;
    margin-top: 20px;
}
  
input[type=text], select, textarea {
    width: 60%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  .feedback{
      text-align: center;
  }
  .common{
      background-color: white;
      padding: 20px;
      
  }
  #userdetail{
    min-height: 30vh;
    margin: 10px auto;
    position: relative;
    padding: 20px;
    text-align: left;
  }
  #storo{
    min-height:50vh;
    margin: 20px auto;
    position: relative;
    padding:20px ;
    /* background-color: gray; */
    text-align: center;
  }
  #feedback{
    min-height:50vh;
    margin: 20px auto;
    position: relative;
    padding: 20px ;
    background-color: #f1f1f1;
  }
  #chat{
    bottom: 50px;
    right: 100px;
    position: fixed;
    transition: ease-in-out 500ms;
  }
  #chat:hover{
    bottom: 60px;
    right: 110px;
  }
  .sidechat {
    height: 60vh;
    width: 0;
    position: fixed;
    z-index: 1;
    bottom: 0;
    right: 0;
    background-color: grey;
    border-radius: 5px;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 70px;
    margin-bottom: 30px;
    margin-right: 30px;
    overflow-y: hidden;
  }
  .sidechat a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(0, 0, 0);
    display: block;
    transition: 0.3s;
  }
  .sidechat a:hover {
    color: #F1F1F1;
  }
  .sidechat .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .messageBox{
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #E9ECEF;
    border-radius: .3rem;
    height: 35vh;
  }
  .icon {
    padding: 10px;
    color: #000000;
    min-width: 50px;
    text-align: left;
    font-size: 30px;
  }
  .input-container {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 15px;
  }
  .input-field:focus {
    border: 2px solid #000000;
  }
  .meeting{
    text-align: left;
    padding: 20px;
  }
  
